body {
  background-color: #1b371b;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-top: 75px;
  padding-bottom: 75px;
}

.primary-card {
  width: 30vw;
  height: 80vh;
  text-align: center;
}

@media (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }

  .primary-card {
    width: 80vw;
  }
}
